<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrainCrewRollsing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TrainCrewRollsing.Properties.Settings>
            <setting name="RollsingIP" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
            <setting name="Train" serializeAs="String">
                <value>TH5320</value>
            </setting>
        </TrainCrewRollsing.Properties.Settings>
    </userSettings>
</configuration>